@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
	@font-face {
		font-family: 'Inter';
		font-display: swap;
		src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
	}
	@font-face {
		font-family: 'SF Pro';
		font-display: swap;
		src: url('/fonts/SF-Pro.ttf');
	}
}
